/* =======================
    -- Template : Groxi
    - Author : Justin Ravat
    - Version : 1.0
    - Website : githubpages.io
=========================*/

/* ------------ 
    MENU
---------------

00. IMPORT FONTS

01. GENERAL

02. HELPERS
        02.01 - Flexbox

03. NAVBAR

04. HEADER
*/

/*===============
OO. IMPORT FONTS
=================*/
/* Les imports sont TOUJOURS au début du fichier CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*===============
O1. GENERAL
=================*/

h1 {
    width:12em;margin:auto;
}

html {
    --primary-color: #a0cb23;
    --secondary-color: #14462d;
}

body {
  font-family: "Roboto", sans-serif;
  background:url("../img/bg_fruit.png");
  background-repeat: no-repeat;
}

/*===============
O2. HELPERS
=================*/

/* 02.01 FLEXBOX */
.flex {
  display: flex;
  /* par défaut, display:flex prend la valeur row à flex-direction */
  flex-direction: row;
}

.relative {
    position:relative;
}

.absolute {
    position:absolute;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}
/*===============
O3. NAVBAR
=================*/
nav {
    margin: 2em 15%;
}

nav ul {
    /* Je supprime les points devant les puces */
    list-style-type: none;
}

nav a {
    color:black;
    /* Je supprime le soulignage des liens dans toute la nav */
    text-decoration: none;
}

/*  Je sélectionne les liens dans le dernier élément de type ul de ma nav */
nav ul:last-of-type a {
    color:var(--primary-color);
    background: white;
    border-radius: 50%;
    padding:0.5em   0.7em;
    margin:0.5em;
}

nav ul:last-of-type span {
    background:var(--secondary-color);
    border-radius: 50%;
    color:#fff;
    padding:0.5em 0.8em;
    font-size:0.5em;
}

/* Positionnement de la bulle de notifications */

nav ul:last-of-type li:last-of-type span {
    top:0;
}

/* On définit une taille minimum à notre menu pour que space-around puisse fonctionner */

nav ul:first-of-type {
    min-width:50%;
}







